/*-----VARIABLES-----*/
:root {
    --blanco:#FFFFFF;
    --azul:blue;
    --rojo:red;
    --fuente:Arial, Helvetica, sans-serif;
}

/*-----BASE-----*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-----CSS-BASE-----*/
html{
    font-size: 62.5%;
    font-family:var(--fuente);
}
